body {
	font-family: Verdana, Geneva, Arial;
}
p{
	font-size: 12px;
  
}
p1{
	font-size: 26.4px;
}
p2{
	font-size: 15.6px;
}
h2 {
	font-weight: normal;
}
blockquote {
  font-style: italic;
}
	h1,h2 {
		border-bottom: thin dotted #888888;
     color: #cc6600
}
h1,h2{
 color: #cc6600
}